In [1]:
import pandas as pd

Exerc√≠cios Filmes

In [5]:
df = pd.read_csv('D:/Estatistica e Database/Estatisticas-e-Banco-de-dados/filmes.csv')

In [33]:
# Ex1 Filmes

df[df['G√™nero']== "Fic√ß√£o Cient√≠fica"]

2917

In [23]:
# ex 2
ano = df['Ano'].min()

df[df['Ano'] == ano]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime

In [19]:
# ex3
df['Bilheteria_Mundial'].mean()

1114.6

In [26]:
# ex4
imdb = df['Nota_IMDb'].max()

df[df['Nota_IMDb'] == imdb]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime

In [27]:
# ex5
df.sort_values(by="Dura√ß√£o_Minutos", ascending=False)

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
1,Titanic,1997,2187,7.8,195,Romance
4,Vingadores: Ultimato,2019,2798,8.4,181,A√ß√£o
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia
0,O Poderoso Chef√£o,1972,287,9.2,175,Crime
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
9,Duna,2021,402,8.0,155,Fic√ß√£o Cient√≠fica
6,Pulp Fiction,1994,213,8.9,154,Crime
5,Clube da Luta,1999,101,8.8,139,Drama
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
8,Coringa,2019,1074,8.4,122,Drama

In [28]:
# ex6
df['Bilheteria_Mundial'].sum()

11146

In [29]:
# ex7
df[df['Dura√ß√£o_Minutos'] < 150]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
3,Matrix,1999,466,8.7,136,Fic√ß√£o Cient√≠fica
5,Clube da Luta,1999,101,8.8,139,Drama
8,Coringa,2019,1074,8.4,122,Drama

In [30]:
# ex8
df[df['Ano'] > 2000]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
2,Interestelar,2014,701,8.6,169,Fic√ß√£o Cient√≠fica
4,Vingadores: Ultimato,2019,2798,8.4,181,A√ß√£o
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia
8,Coringa,2019,1074,8.4,122,Drama
9,Duna,2021,402,8.0,155,Fic√ß√£o Cient√≠fica

In [31]:
# ex9
df['Dura√ß√£o_Minutos'].mean()

160.4

In [34]:
# ex10
Bilheteria_max = df['Bilheteria_Mundial'].max()

df[df['Bilheteria_Mundial']== Bilheteria_max]

,T√≠tulo,Ano,Bilheteria_Mundial,Nota_IMDb,Dura√ß√£o_Minutos,G√™nero
7,O Senhor dos An√©is,2001,2917,8.8,178,Fantasia

Exerc√≠cios Corinthians ü¶®

In [38]:
#Lendo o DF

df = pd.read_csv('D:/Estatistica e Database/Estatisticas-e-Banco-de-dados/todo poderoso tim√£o.csv')

In [63]:
# ex4
min_Derrotas = df['Derrotas'].min()
df[df['Derrotas'] == min_Derrotas]

,Ano,Jogos,Vit√≥rias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posi√ß√£o_Campeonato,M√©dia_Gols_Sofridos,Pontos
9,2024,64,22,6,5,89,48,19,0.75,72

In [71]:
# ex5 -- Gamba

df[df['Gols_Marcados'] > 60]

,Ano,Jogos,Vit√≥rias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posi√ß√£o_Campeonato,M√©dia_Gols_Sofridos,Pontos,TaxaVit√≥rias
1,2016,42,27,10,11,85,29,4,0.690476,91,64.285714
5,2020,45,32,8,6,72,49,2,1.088889,104,71.111111
6,2021,49,35,12,8,70,20,18,0.408163,117,71.428571
7,2022,40,36,7,10,70,34,13,0.850000,115,90.000000
9,2024,64,22,6,5,89,48,19,0.750000,72,34.375000

In [70]:
# ex6

df['TaxaVit√≥rias'] = (df['Vit√≥rias'] / df['Jogos']) * 100

taxa_vitorias = df[['Ano', 'TaxaVit√≥rias'] ].round(2)

print(taxa_vitorias.to_string(index=False))

 Ano  TaxaVit√≥rias
2015         49.18
2016         64.29
2017         50.72
2018         57.45
2019         58.93
2020         71.11
2021         71.43
2022         90.00
2023         56.60
2024         34.38

In [61]:
# ex7
df['Pontos'] = df['Vit√≥rias'] * 3 + df['Empates']

df_ordenado = df[['Ano', 'Pontos']].sort_values(by='Pontos', ascending=False)

print(df_ordenado.to_string(index=False))

 Ano  Pontos
2021     117
2022     115
2017     111
2019     110
2015     104
2020     104
2023     103
2018      92
2016      91
2024      72

In [48]:
# ex 8 -- Gamba
Posi√ß√£o_min = df['Posi√ß√£o_Campeonato'].max()

df[df['Posi√ß√£o_Campeonato'] == Posi√ß√£o_min]

,Ano,Jogos,Vit√≥rias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posi√ß√£o_Campeonato
0,2015,61,30,14,12,49,59,19
9,2024,64,22,6,5,89,48,19

In [44]:
# ex9 -- Gamba
Jogos = df['Jogos'].max()

df[df['Jogos'] == Jogos]

,Ano,Jogos,Vit√≥rias,Empates,Derrotas,Gols_Marcados,Gols_Sofridos,Posi√ß√£o_Campeonato
2,2017,69,35,6,6,58,41,10

In [60]:
# ex10 -- Gamba

df['M√©dia_Gols_Sofridos'] = df['Gols_Sofridos'] / df['Jogos']

df_resultado = df[['Ano', 'M√©dia_Gols_Sofridos']]

print(df_resultado.to_string(index=False))

 Ano  M√©dia_Gols_Sofridos
2015             0.967213
2016             0.690476
2017             0.594203
2018             0.617021
2019             0.517857
2020             1.088889
2021             0.408163
2022             0.850000
2023             0.905660
2024             0.750000